body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, blockquote, th, td {
    margin:0;
    padding:0;
}
body{
    background-color:#fbf8ec;
    font-size:12px;
    text-align:center;
    height:100%;
    width:100%;
    font-size:11px;
}
form{
    padding: 0;
    margin: 0;
}
img {
    border:0 none;
}
ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}
.clear{
    clear:both;
}
.clearfix {
    display: inline-block;
}
input, select{
    margin: 0 0 4px 0;
    padding: 2px 0 0 3px;
    width: 240px;
    height: 16px;
    font-size:11px;
    background: #F8F8F8;
    border: 1px solid #E1E1E1;
}
a:link, a:visited, a:active,
.error a:link, .error a:visited, .error a:active {
    cursor: pointer;
    color: #999;
    text-decoration: none;
}
a:hover, .error a:hover {
    color: #000;
    cursor: pointer;
}
a:active {
    outline: none;
}
a:focus {
    -moz-outline-style: none;
    outline: none;
}
.cols{
    z-index:1;
    font-weight: normal;
    text-align: left;
}
#mainSectionsInner{
    font-size:11px;
    text-transform:uppercase;
}
#textSearch{ position:relative; }
#newArrivals li a.selected, #newArrivals li a.selected:hover {
    background-color: #000000;
    color: #FFFFFF;
}
#container {
    text-align:left;
    width:100%;
    margin:0 auto;
}
#footer { text-align: center; }
#header,#subheader,#wrapper,#footerInner {
    width: 990px;
    margin: 0 auto;
}
#footerInner {
    text-align: left;
}
#wrapper {
    height: auto;
    min-height: 564px;
    z-index: 1;
    padding-bottom: 38px;
    position: relative;
}
#content{position:relative;}
#col1{
    height:auto;
    width:100%;
    position:relative;
}
#slotContainer{
    height:540px;
    width:960px;
}
.innerSlot01, .innerSlot02, .innerSlot03, .innerSlot04,
.innerSlot05, .innerSlot06, .innerSlot07, .innerSlot08,
.innerSlot09, .innerSlot10, .innerSlot11, .innerSlot12,
.innerSlot13, .innerSlot14, .innerSlot15, .innerSlot16 {
    position:absolute;
    float: left;
    min-height:139px;
    min-width: 247px;
}
.innerSlot01, .innerSlot02, .innerSlot03, .innerSlot04 {
    top:0;
}
.innerSlot05, .innerSlot06, .innerSlot07, .innerSlot08 {
    top:139px;
}
.innerSlot09, .innerSlot10, .innerSlot11, .innerSlot12 {
    top:278px;
}
.innerSlot13, .innerSlot14, .innerSlot15, .innerSlot16 {
    top:417px;
}
.innerSlot01, .innerSlot05, .innerSlot09, .innerSlot13 {
    left:0;
}
.innerSlot02, .innerSlot06, .innerSlot10, .innerSlot14 {
    left:247px;
}
.innerSlot03, .innerSlot07, .innerSlot11, .innerSlot15 {
    left:494px;
}
.innerSlot04, .innerSlot08, .innerSlot12, .innerSlot16 {
    left:741px;
}
#footer{
    font-size:10px;
    margin:0 auto;
    text-transform:uppercase;
    clear:both;
}
#footer a{
    text-decoration:none;
}
#footer li{
    display:inline;
}
#accountindex #footer, #accountregistration #footer,
#accountprofile #footer, #accountorders #footer,
#footer{
    /*background-color:#909090;*/
}
#footer #ftLeft li, #footer #cyc{
    display:inline-block;
    float:left;
    height:10px;
    line-height:10px;
}
#footer #ftRight li{float:right;}
#footer #ftRight li.last a{padding-right:0px;}
#ftRight a, #ftLeft a, #cyc,#ftLeft li span{
    color:#fff;
}
#footer #cyc{
    margin-left:8px;
}
#footer #ftRight a{
    padding:0 8px;
}
#footer #ftRight .copyright li{font-size:11px;padding:0;}
.copyright{
    font-size:9px;
    text-transform:none;
    color:#535353;
    margin-top:8px;
}
#footer #ftRight .copyright li a{
    float:none;
    color:#535353;
    padding:0px;
}
#switchBrand{
    clear:both;
    padding-top:6px;
}
#switchBrand span{
    font-weight:bold;
}
#switchBrand span, #switchBrand a{
    padding: 0 8px;
    font-size:10px;
}
#switchBrand span, #switchBrand a, #switchBrand p{
    display:inline;
}
#addToShoppingBag{
    text-transform: none;
    display: block;
    height:auto;
}
#searchTextbox,#newsletterInput{
    margin:0;
    padding: 0;
    width: 0px;
    height: 0px;
    font-size:0px;
    background: none;
    border: none;
}
#container {position:relative;}
#headerUpBar,#headerCnt {
    width: 100%;
    overflow: hidden;
}
#header {
    height: 135px;
    position: relative;
    z-index: 3;
}
#headerUpBar {height: 32px;}
#cntTop,#containerNewsletter {
    float:right;
    padding-top:12px;
}
#containerNewsletter { margin-right: 8px; }
#newsletter {
    position: relative;
    color: #999;
}
#newsletter span {
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    height: 18px;
    line-height: 18px;
    float: left;
}
#newsletterInput {
    background-color: rgb(144, 144, 144);
    background-color: rgba(144, 144, 144,0.7);
    height: 14px;
    line-height: 14px;
    width: 156px;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    padding: 2px 0;
    text-indent: 5px;
    float: left;
}
#newsletterSubmit {
    background: url('http://cdn2.yoox.biz/Os/valentino3/button_home01.png') no-repeat scroll -6px -8px;
    position: absolute;
    display: block;
    height: 14px;
    width: 14px;
    top: 2px;
    right: 2px;
}
#login {
    padding-top: 2px;
}
#login ul li { float: left; }
#login ul li a {
    font-size: 11px;
    line-height: 11px;
    display: block;
    float: left;
    height: 10px;
    padding: 0 8px;
    border-left: 1px solid #626262;
    text-transform: uppercase;
    color: #999;
    margin: 3px 0 0 0;
}
#login ul li.first a { border: none }
.logoTop {
    display: inline-block;
    margin-bottom: 10px;
    height: 45px;
    width: 280px;
}
.headerCnt { position:relative }
.switchSeason, .switchSection { width:100% }
.switchSeason ul li, .switchSection ul li { float:left; }
.switchSection ul li { padding-right: 8px; }
.switchSection ul { float:left; }
.mainSections { float: right; }
.switchSection .navCnt li {
    padding: 0;
    padding-left: 8px;
}
#cartNum { padding-left: 5px; }
#bannerMenu {
    position: absolute;
    right: 0;
    top: 34px;
}
.switchSeason span.mainSeason, .switchSeason span.secondarySeason, .switchSection span {
    color: #4F5252;
    text-transform: uppercase;
    font-size:13px;
    line-height: 14px;
}
.switchSeason span, .switchSeason a{
    margin-right: 10px;
}
.switchSeason a, .switchSection a {
    text-transform: uppercase;
    font-size:13px;
    line-height: 14px;
}
#subheader {
    margin: 8px auto;
    position: relative;
    margin-top: 1px;
}
#subMenu, #searchBar {
    height: 22px;
}
#subMenu {
    background: rgb(144,144,144);
    background: rgba(144,144,144,0.7);
    width: 100%;
}
#searchBar {
    background: rgb(144,144,144);
    background: rgba(144,144,144,0.7);
    width: 214px;
    float: right;
    margin-top: 1px;
    display:none;
    z-index: 3;
    position: absolute;
    right: 0;
}
#searchLens {
    background:url("http://cdn2.yoox.biz/Os/valentino/main/v02/lensMenu.jpg") no-repeat scroll right top transparent;
    border-left: 1px solid #fff;
    height: 22px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#searchLens:hover {
    opacity: 0.8;
}
.menuNavigation li{
    float:left;
    text-transform:uppercase;
}
li.currentSel,#subMenu li.selected{
    /*background: #999999;*/
    cursor:pointer;
}
.mpa {
    width: 136px;
    padding: 0px 24px 0px 24px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    position: relative;
    z-index: 2;
}
.mpa:hover,
ul.subMenu-on li:hover,
.subMenu li.selected:hover,
.mpa li.selected {
    background-color:rgb(144,144,144);
    /*background-color:#fbf8ec;*/
}
.menuNavigation li .selected {
    display:block;
    height: 100%;
}
#searchBox {
    text-transform: uppercase;
    color:#fff;
    float: right;
    height: 22px;
    z-index: 2;
    position: relative;
}
#searchTextbox {
    width: 120px;
    background: white;
    height: 15px;
    vertical-align: top;
    margin: 3px 5px;
    color: black;
    font-size: 10px;
    line-height: 15px;
    text-indent: 5px;
    text-transform: uppercase;
}
#searchButton {
    height: 22px;
    width: 30px;
    background: url('http://cdn2.yoox.biz/Os/valentino3/button_home01.png') #8f8d8c no-repeat scroll -21px -4px;
    cursor: pointer;
    border-left: 1px solid #fff;
    text-indent: -9999px;
}
#login ul li.last a { padding-right: 0;}
#footer {
    color: #31302F;
    padding-bottom:5px;
    position: relative;
    z-index:10;
}
#footerInner {
    width: 990px;	
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#ftRight a,  #ftLeft a,
#cyc,  #ftLeft li span {
    color: #31302F;
}
#ftLeft, #ftRight, #ftMiddle{
    margin:0;
    float: left;
    margin-top: 10px;
}
#ftRight .copyright, #ftRight #rightTop{
    float:right;
}
#ftLeft{
    width: 41%;
}
#ftMiddle{
    width:22%;
}
#ftRight{
    width: 37%;
}
#ftRight #rightTop ul{
    float:left;
}
.copyright {
    text-transform: uppercase;
}
#ftMiddle a {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin: 0 2px;
    background: url('http://cdn2.yoox.biz/Os/valentino3/sprite_social_vl06.png') no-repeat scroll left top;
}
.fromShoeRoom #ftMiddle a:hover{
    color:#000;
}
#ftMiddle #fb {
    margin-top:-3px;
    background-position: -9px -13px;
}
#ftMiddle #fb:hover {
    margin-top:-3px;
    background-position: -9px -46px;
}
#ftMiddle #ig {
    margin-top:-3px;
    background-position: -153px -13px;
}
#ftMiddle #ig:hover {
    margin-top:-3px;
    background-position: -153px -46px;
}
#ftMiddle #pi {
    margin-top:-3px;
    background-position: -42px -13px;
}
#ftMiddle #pi:hover {
    margin-top:-3px;
    background-position: -42px -46px;
}
#ftMiddle #tw {
    margin-top:-3px;
    background-position: -72px -13px;
}
#ftMiddle #tw:hover {
    margin-top:-3px;
    background-position: -72px -46px;
}
#ftMiddle #yt {
    margin-top:-3px;
    width: 40px;
    background-position: -102px -13px;
}
#ftMiddle #yt:hover {
    margin-top:-3px;
    background-position: -102px -46px;
}
#ftMiddle #txt, #txt:hover {
    background: none;
}
#footer #ftRight .copyright li {
    font-size: 8px;
}
.copyright {
    margin-top: 5px;
}
.border_left {
    border-left: 1px solid #61605f;
}
.border_right {
    border-right: 1px solid #61605f;
}
#footer .nation_cyc {
    font-weight: bold;
    padding-left: 6px;
    padding-right: 0;
    text-align: left;
}
#footer #ftLeft #cyc_li,
#footer #ftLeft .border_left {
    padding: 0 8px;
    font-size:10px;
}
#footer a:hover,
#footer #ftRight .copyright li a:hover {
    color: #b3b3b1;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}
#footer #ftLeft #cyc_li {
    padding-left: 0;
}
#domain {
    color:#31302F;
    background: none no-repeat scroll left top transparent !important;
    float: none !important;
    display:inline !important;
    width: auto !important;
    line-height:normal;
}
#domain:hover{
    color:#B3B3B1;
}
#cartLink { cursor: pointer; }
.rowThree #login,.rowThree #bannerMenu,
.rowThree .switchSeason,
.rowThree .switchSection,
.rowThree #subheader,.rowThree #menuRed,
.rowThree .innerSlot02,.rowThree .innerSlot03,
.rowThree .innerSlot04,.rowThree .innerSlot05,
.rowThree .innerSlot06,.rowThree .innerSlot07,
.rowThree .innerSlot08,.rowThree .innerSlot09,
.rowThree .innerSlot10,.rowThree .innerSlot11,
.rowThree .innerSlot12,.rowThree .innerSlot13,
.rowThree .innerSlot14,.rowThree .innerSlot15,
.rowThree .innerSlot16 {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}
.navCnt {
    position: relative;
    z-index: 999;
}
