body {
    font-family: 'Ubuntu Mono', ;
    font-size: 20px;
}

#footer{
    font-family: 'Ubuntu Mono', ;
}

#newsletterLayer h2.sectionTitle {
    font-family: 'Ubuntu Mono', ;
}

.copyright{
    text-align: right;
}

.logoTop {
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    background: url('') no-repeat scroll left top;
    font-size: 30px;
}

.mainSectionsInner{
    font-family: 'Ubuntu Mono', ;
}

.redValentino #login{
    font-family: 'Ubuntu Mono', ;
}

.switchSeason span.mainSeason, .switchSeason span.secondarySeason, .switchGender span {
    font-family: 'Ubuntu Mono', ;
}
